.footer {
  padding: 60px 0;
  background-color: var(--background-color-primary);
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @media (max-width: 767px) {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
