.footer {
  padding: 60px 0;
  background-color: var(--background-color-primary);
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 767px) {
  .footer {
    padding: 60px 0;
  }
  .footer__blocks {
    display: block;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 60px 0;
    height: 463px;
  }
  .footer__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 60px 0;
    height: 252px;
  }
}
