.contacts {
  display: flex;
  align-items: center;
}
.contacts__mail {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  color: var(--title-text-color);
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accennt-color);
  }
}
.contacts__phone {
  align-items: center;
  display: flex;
  color: var(--title-text-color);
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accennt-color);
  }
}
.contacts__icon-mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition: fill var(--duration) var(--timing-function);
  .contacts__mail:hover &,
  .contacts__mail:focus & {
    fill: currentColor;
  }
}

.contacts__icon-smart {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill var(--duration) var(--timing-function);
  .contacts__phone:hover &,
  .contacts__phone:focus & {
    fill: currentColor;
  }
}
@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media (min-width: 768px) {
  .contacts {
    display: block;
  }
  .contacts__mail {
    margin-bottom: 5px;
  }
  .contacts__phone {
    margin-top: 5px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__mail {
    margin-bottom: 0;
  }
  .contacts__phone {
    margin-top: 0;
  }
}
