.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}
ul {
  list-style: none;
}
@media (min-width: 768px) {
  .header {
    width: 768px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
}
