.button-list {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  li {
    margin-right: 10px;
  }
}

.button-list__item {
  background-color: var(--button-portf-background);
  font-family: Roboto;
  font-style: normal;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--primary-text-color);
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accennt-color);
    color: var(--second-primary-text-color);
  }
}
@media (max-width: 767px) {
  .button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: -15px;
    margin-bottom: 40px;
    li {
      margin-right: 7px;
      margin-top: 15px;
    }
  }
}
@media (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
  }
}
