.section-conteiner {
  font-family: 'Roboto', sans-serif;
  background: var(--second-primary-text-color);
  color: var(--primary-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (min-width: 480px) {
  .section-conteiner {
    width: 480px;
  }
}
@media (max-width: 767px) {
  .section-conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
