:root {
  --primary-text-color: #212121;
  --second-primary-text-color: #fff;
  --title-text-color: #757575;
  --accennt-color: #2196f3;
  --background-color-primary: #2f303a;
  --button-portf-background: #f5f4fa;
  --card-set-gap: 30px;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
$primary-text-color: #212121;
